manifest {
    homePage = 'https://github.com/maubarsom/meta_illumina_pipeline'
    description = 'Andersson's lab Viral Discovery pipeline'
    mainScript = 'discovery.nf'
}

/* Pipeline running parameters
params{
  min_ctg_size=500
  /* Databases */
  //1. FastViromeExplorer
  FVE_index=/labcommon/db/FastViromeExplorer/ncbi-virus-kallisto-index-k31.idx
  //2. Kraken2
  kraken2_db=/labcommon/db/kraken2/181204_bacvirfun
}


profiles {
  hamlet {
    includeConfig 'conf/hamlet.tools.config'
    includeConfig 'conf/hamlet.db.config'
  }

  bianca {
    includeConfig 'conf/bianca.tools.config'
    includeConfig 'conf/bianca.db.config'
  }
}

report {
    enabled = true
    file = "report.html"
}

timeline {
    enabled = true
    file = "timeline.html"
}
