manifest {
    homePage = 'https://github.com/maubarsom/meta_illumina_pipeline'
    description = 'Andersson lab Viral Discovery pipeline'
    mainScript = 'preprocessing.nf'
}

/* Pipeline running parameters */
//params{ }



profiles {
  hamlet {
    includeConfig 'conf/hamlet.preprocessing.config'
  }

  bianca {
    includeConfig 'conf/bianca.preprocessing.config'
  }

  henry {
    includeConfig 'conf/henry.preprocessing.config'
  }


}

report {
    enabled = true
    file = "preprocessing_report.html"
}

timeline {
    enabled = true
    file = "preprocessing_timeline.html"
}

trace{
  enabled = true
  file = "preprocessing_trace.tsv"
  fields='task_id,hash,native_id,process,tag,name,status,exit,submit,start,complete,duration'
}
