/* Configure Databases */
params{

/* Running parameters */


/* Databases */
    hostrm_bowtie2_idx='/sw/data/uppnex/reference/Homo_sapiens/GRCh38/program_files/bowtie/rm.concat'
}



/* Configure steps, CPU and PATH requirements */
process {
    errorStrategy = 'ignore'

    /* Set default parameters for cluster */
    executor = 'slurm'
    queue = 'core'
    clusterOptions ='-A sens2017627'

    /* QC **/
    withName: qf_trimgalore {
        module = 'TrimGalore/0.4.4'
        cpus = 16
    }

    withName: qf_remove_sispa_adapters_pe{
        module = 'cutadapt/2.0'
        cpus = 1
    }

    withName: qf_remove_sispa_adapters_se{
        module = 'cutadapt/2.0'
        cpus = 1
    }

    /* Host removal */
    withName: hostrm_map_to_grch38_pe{
        module = 'bowtie2/2.3.4.3'
        cpus = 8
    }

    withName: hostrm_map_to_grch38_unpaired{
        module = 'bowtie2/2.3.4.3'
        cpus = 8
    }

    withName: hostrm_mapping_stats{
        module = 'samtools/1.9'
        cpus = 2
    }

    withName: hostrm_sam_pe_to_fastq{
        module = 'samtools/1.9'
        cpus = 2
    }
    withName: hostrm_sam_unpaired_to_fastq{
        module = 'samtools/1.9'
        cpus = 2
    }
}
