/* Configure Databases */
params{

/* Running parameters */


/* Databases */
    hostrm_bowtie2_idx='/labcommon/db/bowtie2/grch38'
}

/* Configure steps, CPU and PATH requirements */
process {
    /* QC **/
    withName: qf_trimgalore {
        module = 'trimgalore/0.5.0'
        cpus = 16
    }

    withName: qf_remove_sispa_adapters_pe{
        //cutadapt should be in path
        cpus = 1
    }

    withName: qf_remove_sispa_adapters_se{
        //cutadapt should be in path
        cpus = 1
    }

    /* Host removal */
    withName: hostrm_map_to_grch38_pe{
        module = 'bowtie2/2.3.4.3'
        cpus = 8
    }

    withName: hostrm_map_to_grch38_unpaired{
        module = 'bowtie2/2.3.4.3'
        cpus = 8
    }

    withName: hostrm_mapping_stats{
        module = 'samtools/1.9'
        cpus = 2
    }

    withName: hostrm_sam_pe_to_fastq{
        module = 'samtools/1.9'
        cpus = 2
    }
    withName: hostrm_sam_unpaired_to_fastq{
        module = 'samtools/1.9'
        cpus = 2
    }
}
