/* Configure Databases */
params{

/* Running parameters */
	//SPAdes - max memory requirement
	max_spades_mem=126

/* Databases */

    //1. FastViromeExplorer
    FVE_index='/labcommon/db/FastViromeExplorer/ncbi-virus-kallisto-index-k31.idx'
    FVE_viruslist='/labcommon/tools/FastViromeExplorer/1.1/ncbi-viruses-list.txt'

    //2. Kraken2
    kraken2_db='/labcommon/db/kraken2/181204_bacvirfun'

    //3. Diamond databases
    diamond_db='/labcommon/db/diamond/20181203_v0.9.22/nr.dmnd'
    diamond_taxonmap='/labcommon/db/ncbi_taxonomy/20181213/prot.accession2taxid'
    diamond_taxonnodes='/labcommon/db/ncbi_taxonomy/20181213/nodes.dmp'

    //4. HMMER databases
}

/* Configure steps, CPU and PATH requirements */
process {
    /* ASSEMBLY Processes */
    withName: asm_megahit {
        module = 'megahit/1.1.4'
        cpus = 16
    }
    withName: asm_metaspades{
        module = 'SPAdes/3.13.0'
        cpus = 16

    }
    withName: asm_filter_contigs{
        //seqtk is in path
        cpus = 1
    }

    withName: asm_map_reads_to_contigs{
        module = 'bbtools/38.32'
        cpus = 8
    }

    withName: asm_mapping_stats{
        module = 'samtools/1.9'
        cpus = 1
    }
    withName: asm_per_ctg_coverage{
        module = 'bbtools/38.32'
        cpus = 1
    }

    /* TAX READS Processes */
    withName: tax_reads_metaphlan2{
        module = 'metaphlan2/2.7.7'
        cpus=8
    }

    withName: tax_reads_FastViromeExplorer{
        // REQUIRED: Setting FVE_PATH variable (installation folder of FastViromeExplorer)
        beforeScript='export FVE_PATH="/labcommon/tools/FastViromeExplorer/1.1"'
        module='FastViromeExplorer/1.1'
        cpus=8
    }

    withName: tax_reads_kraken2{
        module = 'kraken2/2.0.7-beta'
        cpus=8
    }

    /* TAX CONTIGS Processes */

    withName: tax_contigs_kraken2{
        module = 'kraken2/2.0.7-beta'
        cpus=8
    }

    
    withName: tax_contigs_diamond{
        module = 'diamond/0.9.22'
		cpus=8
    }

    withName: tax_contigs_diamond_view{
        module = 'diamond/0.9.22'
    }

    withName: tax_contigs_virfinder{
        //Requires that the VirFinder R package is installed in the default R installation
        cpus=4
    }

    withName: tax_contigs_FragGeneScan{
        module='FragGeneScan/1.31'
        cpus=6
    }

    /*
    withName: tax_diamond_lca{}
    withName: tax_contigs_virsorter{}
    withName: tax_orfs_hmmscan{}
    */
}
