/* Configure Databases */
params{

/* Running parameters */


/* Databases */
    hostrm_bowtie2_idx='/proj/virus/db/hg38/hg38'
}

/* Configure steps, CPU and PATH requirements */
process {
    executor='local'
    errorStrategy = 'ignore'

    /* QC **/
    withName: qf_raw_fastqc{
	beforeScript="export PATH=/proj/virus/tools/fastQC/0.11.8/:$PATH"
        cpus =8
    }

    withName: qf_trimgalore {
        beforeScript="export PATH=/proj/virus/tools/TrimGalore/0.6.0/:$PATH"

        cpus = 16
    }

    withName: qf_remove_sispa_adapters_pe{
        cpus = 1
    }

    withName: qf_remove_sispa_adapters_se{
        cpus = 1
    }

    /* Host removal */
    withName: hostrm_map_to_grch38_pe{
		beforeScript="export PATH=/proj/virus/tools/bowtie2/2.3.5/:$PATH"
        cpus = 8
    }

    withName: hostrm_map_to_grch38_unpaired{
        beforeScript="export PATH=/proj/virus/tools/bowtie2/2.3.5/:$PATH"
        cpus = 8
    }

    withName: hostrm_mapping_stats{
		beforeScript="export PATH=/proj/virus/tools/samtools/1.9/bin/:$PATH"
        cpus = 2
    }

    withName: hostrm_sam_pe_to_fastq{
        beforeScript="export PATH=/proj/virus/tools/samtools/1.9/bin/:$PATH"
        cpus = 2
    }
    withName: hostrm_sam_unpaired_to_fastq{
        beforeScript="export PATH=/proj/virus/tools/samtools/1.9/bin/:$PATH"
        cpus = 2
    }
}
